<apex:page standardController="Contact" extensions="InlineContactFamilyListController">
    <apex:includeScript value="/support/console/20.0/integration.js"/>
    <script type="text/javascript">
        // Generate URL for the Salesforce Service Console
        var linkId;
        var linkName;
        //First find the ID of the primary tab to put the new subtab in
        function getPrimaryTab(sfdcId, name) {
            linkId = sfdcId;
            linkName = name;
            sforce.console.getEnclosingPrimaryTabId(openSubtab);
        }
        //Now that we have the primary tab ID, we can open a new subtab in it
        var openSubtab = function openSubtab(result) {
            var primaryTabId = result.id;
            sforce.console.openSubtab(primaryTabId , '/'+linkId, true,
            linkName, null, null, 'salesforceSubtab');
        };
    </script>

    <apex:messages />
        <apex:pageBlock title="Family Information">        
            <apex:pageblockTable value="{!familyList}" var="f">
                <apex:column headerValue="Name">
                    <a href='{!f.link}' onClick="getPrimaryTab('{!f.link}', '{!f.Name}');return false">{!f.Name}</a>
                </apex:column>
                <apex:column headerValue="HOH">
                    <apex:image URL="{!if(f.isHOH,'/img/checkbox_checked.gif','/img/checkbox_unchecked.gif')}"/>
                </apex:column>
            </apex:pageblockTable>
        </apex:pageBlock>
        <!--<apex:pageBlock title="Open Family Cases">
            <apex:pageBlockTable value="{!caseList}" var="c">
                <apex:column headerValue="Case Number">
                    <a href='{!c.Id}' onClick="getPrimaryTab('{!c.Id}', '{!c.CaseNumber}');return false">{!c.CaseNumber}</a>
                </apex:column>
                <apex:column headerValue="Subject" value="{!c.Subject}"/>
                <apex:column headerValue="Contact Name" value="{!c.Contact.Name}"/>
                <!--<apex:column headerValue="Closed">
                    <apex:image URL="{!if(c.isClosed,'/img/checkbox_checked.gif','/img/checkbox_unchecked.gif')}"/>
                </apex:column>-->
            <!--</apex:pageBlockTable>
        </apex:pageBlock>
        -->
</apex:page>