<apex:page standardController="Case">
    <flow:interview name="Retention_Call_Script_Flow" finishLocation="ScriptsFlowFinish">
    	<apex:param name="caseId" value="{!Case.Id}"/>
    </flow:interview>
</apex:page>