<apex:page standardController="Transportation_Authorization_Grid__c" extensions="TransportationAuthGridMassEditController" recordSetVar="tags" showHeader="true" sidebar="true">
	<apex:form >
		<apex:pageBlock title="Transportation Authorization Grid">
			<apex:pageBlockButtons >
				<apex:commandButton immediate="true" value="Cancel" action="{!cancel}"/>
				<apex:commandButton value="Save" action="{!massSave}"/>
			</apex:pageBlockButtons>
			<apex:pageBlockSection columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Note for MSA"/>
					<apex:inputTextarea style="width:100%" rows="5" label="Note for MSA" value="{!msaNote}"/>
				</apex:pageBlockSectionItem>
				<apex:pageBlockTable value="{!selected}" var="tag">
					<apex:column value="{!tag.Name}"/>
					<apex:column value="{!tag.Plan__c}"/>
					<apex:column value="{!tag.County__c}"/>
					<apex:column value="{!tag.Note_for_MSA__c}"/>
				</apex:pageBlockTable>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>